[[rule]]
when = ["cache-aio", "OR", "connection-manager", "OR", "cluster-async"]
require = [
  "tokio-comp",
  "OR",
  "smol-comp",
  "OR",
  "tokio-rustls-comp",
  "OR",
  "tokio-native-tls-comp",
  "OR",
  "smol-native-tls-comp",
  "OR",
  "smol-rustls-comp",
]

[[rule]]
when = ["tls-rustls", "tokio-comp"]
require = ["tokio-rustls-comp"]

[[rule]]
when = ["tls-native-tls", "tokio-comp"]
require = ["tokio-native-tls-comp"]

[[rule]]
when = ["tls-rustls", "smol-comp"]
require = ["smol-rustls-comp"]

[[rule]]
when = ["tls-native-tls", "smol-comp"]
require = ["smol-native-tls-comp"]

[[rule]]
when = "tls-rustls-insecure"
require = ["tls-rustls"]

# the native-tls features shouldn't be tested with the rustls features
[[rule]]
when = [
  "tokio-native-tls-comp",
  "OR",
  "smol-native-tls-comp",
  "OR",
  "tls-native-tls",
]
forbid = [
  "tokio-rustls-comp",
  "OR",
  "tls-rustls-webpki-roots",
  "OR",
  "tls-rustls",
  "OR",
  "tls-rustls-insecure",
  "OR",
  "smol-rustls-comp",
]

# we don't need to check whether the smol features are working with the tokio features
[[rule]]
when = [
  "smol-native-tls-comp",
  "OR",
  "smol-comp",
  "OR",
  "smol-rustls-comp",
]
forbid = [
  "tokio-rustls-comp",
  "OR",
  "tokio-native-tls-comp",
  "OR",
  "tokio-comp",
]

# cluster-async is the feature for async work. We don't need to check cluster with async.
[[rule]]
when = ["cluster"]
forbid = [
  "tokio-rustls-comp",
  "OR",
  "tokio-native-tls-comp",
  "OR",
  "tokio-comp",
  "OR",
  "smol-native-tls-comp",
  "OR",
  "smol-comp",
  "OR",
  "smol-rustls-comp",
]

[[rule]]
when = ["tls-rustls-webpki-roots", "smol-comp"]
require = ["smol-rustls-comp"]

[[rule]]
when = ["tls-rustls-webpki-roots", "tokio-comp"]
require = ["tokio-rustls-comp"]

# The users are expected to use only one connection pool.
[[rule]]
when = "r2d2"
forbid = "bb8"

# This feature can't run by itself
[[rule]]
when = true
forbid = "aio"

# deprecated
[[rule]]
when = true
forbid = [
  "tls",
  "OR",
  "async-std-tls-comp",
  "OR",
  "async-std-comp",
  "OR",
  "async-std-native-tls-comp",
  "OR",
  "async-std-rustls-comp",
]

# these are all included in the `default` feature, so in order to reduce combinatoric explosion, we don't check them individually.
[[rule]]
when = true
forbid = [
  "acl",
  "OR",
  "streams",
  "OR",
  "geospatial",
  "OR",
  "script",
  "OR",
  "keep-alive",
  "OR",
  "num-bigint",
]
